
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


body{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url(./images/anime_wallpaper.jpeg);
  background-size:cover;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.header{
 background-color: black;
 height: 10vh;
 box-shadow:10px 0px 10px black;
 z-index: 1;
 
}

a{
  color: orange;
}

.box{
  border:1px, solid, black;
  width: 80vw;
  height: 30vh;
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: center;
  font-size: 40;
  padding-top: 10px;
  
  
}

.box2{
  border:1px, solid, black;
  max-width: 80vw;
  min-width: 80vw;
  height: 25vh;
  background-color: rgb(43, 43, 43);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.searchBox{
  background-color: rgb(63, 63, 63);
  height: 60vh;
  width: 80vw;
  padding-bottom: 40px;
  padding-top: 30px;
  
}

#greeting{
  color: orange;
  
  text-align: center;
  
  
  justify-content: center;
}

.header2{
  background-color:white;
  height: auto;
  align-items: center;
  height: 5vh;
  margin-top: 10px;
}


.header{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 80vw;
  justify-self: center;
  
}

input[type=text]{
  width: 50%;
  height: 25%;
  font-size: 35pt;
  border-radius: 10px;
}

a:hover{
  transform: scale(.9);
  color: white;
}

a::selection{
  transform: scale(1.1)
}

button{
  font-size: 35pt;
  color: orange;
  background-color: rgb(43, 43, 43);
  border-radius: 10px;
}

button:hover{
  background-color: rgb(63, 63, 63);
  transform: scale(.9);
}

input[type=submit]{
  height: 25%;
  color: orange;
  background-color: rgb(43, 43, 43);
  font-size: 35pt;
}


.textHolder{
  color: white;
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  padding-right: 15px;
  padding-left: 15px;
}

img{
  box-shadow: 5px 5px 10px black;
}
.footer{
  background-color:black;
  color: white;
  font-weight: bold;
  height: 20vh;
  width: 80vw;
  justify-self: center;
  align-items: center;
  z-index: 1;
  box-shadow: -10px 0 10px black;
}

.outer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  
}
.outer1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}